* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}


html,
body,
#root {
  background-color: #1e1d1d;
  color: white;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: #1e1d1d;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 50px;
}